<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="C:\\Users\\user\\Desktop\\tt.txt" layout="${uppercase:${level}} | ${logger} | ${message} | ${date:format=dd.mm.yyyy}" />
      <target name ="logemail" xsi:type="Email" html="true" subject="Error Received" 
        body="${message}" layout="${message}"
        to="user@gmail.com"
        from="user@gmail.com"
        enableSsl="false"
        smtpUsername="user@gmail.com"
        smtpPassword="123456"
        smtpAuthentication="Basic"
        smtpServer="smtp.gmail.com"
        deliveryMethod ="Network"
        smtpPort="378"/>
    </targets>
    <rules>
      <logger name="*" level="Info" writeTo="logfile" />
      <logger name="*" level="Warn" writeTo="logfile" />
      <logger name="*" level="Error" writeTo="logfile" />
      <logger name="*" level="Fatal" writeTo="logemail" />
    </rules>
  </nlog>
</configuration>